*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

header{
    background-color: rgba(197, 192, 192, 0.733);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

header img{
    width: 60px;
}

header a{
    color: rgb(58, 2, 80);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
nav{
    display: flex;
    gap: 20px;
    

}
nav a:hover{
    color: rgb(117, 113, 113);
}

input{
    padding: 4px 10px;
}