#hero{
    background-color: black;
    height: 500px;
    background-image: url("../image/portada.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .info h1{
    color: rgb(36, 34, 34);
    font-size: 40px;
    font-weight:700;
    text-transform:uppercase;  
    padding-left: 20px; 
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    
}

#hero .info p{
    color: rgb(36, 34, 34);
    font-size: 12px;
    font-weight:700;
    padding-left: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;

}

#hero .container .info .click{
    font-size: 20px;
    background-color: rgb(202, 202, 223);
    text-decoration: none;
    color: rgb(63, 3, 63);
    font-weight: 700;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 20px;
}

#hero .container .info .click:hover{
    color: rgb(117, 113, 113);
}

.principal{
    color: rgb(36, 34, 34);
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;;
    margin-bottom: 50px;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 0px 200px;
    padding-bottom: 30px;
    margin:auto;

}

@media (max-width: 1200px) {
    .services {
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
}    
}

@media (max-width: 900px){
   .services{
            grid-template-columns: repeat(2, 1fr);
            height: fit-content;
        
        }
}

@media (max-width: 700px) {
    .services {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
}    
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px grey;
    cursor: default;
}

.services .card img{
border-radius: 6px;
height: 210px;
}

.titulos h2{
    color: rgb(36, 34, 34);
   text-align:center;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   padding: 10px;
}

.titulos p{
    color: rgb(36, 34, 34);
   text-align:center;
   font-size: 15px;
   padding: 10px;
}

.card .titulos a{
    color: blue;
    display: flex;
   font-size: 15px;
   padding: 10px;
   justify-content: center;
}

.card .titulos a:hover{
    color:rgb(53, 2, 53)
}

div .images img{
    width: 100%;
    height: 250px;
}

.about{
    background-color: rgba(197, 192, 192, 0.733);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.image-left img{
    width: 100%;
    height:100%;
    
}

.about .container-info h2{
    /* background-color: black; */
    color: rgb(63, 3, 63);
   text-align:center;
   font-size: 40px;
   font-weight: 700;
   text-transform: uppercase;
   padding: 10px;
   margin-top: 80px;

}

.about .container-info p{
    color: rgb(63, 3, 63);
   text-align:center;
   font-size: 15px;
   font-weight: 400;
   padding: 20px;

}

.about .container-info{
    padding: 30px;
}

.container-info .contact {
    font-size: 20px;
    background-color: rgb(202, 202, 223);
    text-decoration: none;
    color: rgb(63, 3, 63);
    font-weight: 600;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 40px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.container-info .contact:hover{
    color: gray;
}


@media (max-width: 1200px) {
    .about {
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}    
}

@media (max-width: 900px){
   .about{
            grid-template-columns: repeat(2, 1fr);
            height: fit-content;
        
        }
}

@media (max-width: 700px) {
    .about {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
}    
}


.pie-pagina{
    width: 100%;
    background-color: white;
    margin-top: 20px;

}
.foot .group-1 {
    /* background-color: aqua; */
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:80px;
    padding:45px 0px;
}

.foot .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.foot .group-1 .box figure img{
    width: 250px;

}

.foot .group-1 .box h2{
    color: rgb(63, 3, 63);
    margin-bottom: 15px;
    font-size: 30px;

}

.foot .group-1 .box h3{
    color: rgb(63, 3, 63);
    margin-bottom: 15px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.foot .group-1 .box p{
    color:rgb(63, 3, 63);
    margin-bottom: 10px;
}

.foot .group-1 .box .red-social img{
    height: 45px;
    color: rgb(36, 34, 34);
    margin-left: 50px;
}
.foot .group-2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}